<div class="row border">
  <div class="mx-auto mt-4">
    {{!-- category select dropdown  --}}
    <div class="btn-group btn-block my-3">
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        類別
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/screen/life">家居物業</a>
        <a class="dropdown-item" href="/screen/travel">交通出行</a>
        <a class="dropdown-item" href="/screen/happy">休閒娛樂</a>
        <a class="dropdown-item" href="/screen/food">餐飲食品</a>
        <a class="dropdown-item" href="/screen/others">其他</a>
        <a class="dropdown-item" href="/screen/all">全部類別</a>
      </div>
    </div>

    {{!-- total amount --}}
    <div class="row">
      <div class="col-auto">
        <p class="lead">總金額:</p>
      </div>
      <div class="col-auto mx-auto">
        <h1 class="display-4 mx-auto" id="total">{{{total}}}</h1>
      </div>
    </div>

    {{!-- expense list --}}
    <div class="row">
      <div class="col-auto mr-auto">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">類別</th>
              <th scope="col">項目名稱</th>
              <th scope="col">日期</th>
              <th scope="col">金額</th>
              <th scope="col"></th>
            </tr>
          </thead>
          {{#each records}}
          <tbody>
            <tr>
              <th scope="row">
                <span>{{#ifCond this.category '===' 'life'}}<i class="fas fa-home"></i>{{/ifCond}}</span>
                <span>{{#ifCond this.category '===' 'travel'}}<i class="fas fa-shuttle-van"></i>{{/ifCond}}</span>
                <span>{{#ifCond this.category '===' 'happy'}}<i class="fas fa-grin-beam"></i>{{/ifCond}}</span>
                <span>{{#ifCond this.category '===' 'food'}}<i class="fas fa-utensils"></i>{{/ifCond}}</span>
                <span>{{#ifCond this.category '===' 'others'}}<i class="fas fa-pen"></i>{{/ifCond}}</span>
              </th>
              <td>{{{this.name}}}</td>
              <td>{{{this.date}}}</td>
              <td class="amount">${{{this.amount}}}</td>
              <td><a href="/records/{{{this._id}}}/edit" class="btn btn-success">修改</a>
                <form action="/records/{{{this._id}}}/delete?_method=DELETE" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-danger">刪除</button></form>
              </td>
            </tr>
          </tbody>
          {{/each}}
        </table>
      </div>
    </div>
    {{!-- add new one button --}}
    <div class="row">
      <div class="mx-auto mt-3">
        <a href="/records/new" class="btn btn-primary mb-3">新增支出</a>
      </div>
    </div>

  </div>
</div>